.projects {
  padding: 5rem 0;
  margin: 0;
}

.projects_center {
  width: 95vw;
  margin: 0 auto;
  max-width: 1170px;
}

.project {
  display: grid;
  margin-bottom: 4rem;
  transition: transform 0.5s ease-in-out;
}
.project_img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  height: 19rem;
  z-index: 1;
  border-bottom: 5px solid var(--hover);
  transition: transform 0.5s ease-in-out;
  position: relative;
  cursor: pointer;
}

.project_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  transition: var(--transition);
  background: var(--secondary);
  z-index: 9999;
}

.project:hover .project_img::after {
  opacity: 0;
}

.project_info {
  background: #040613;
  padding: 1rem 2rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.project_info h3 {
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-size: var(--font-mid);
  color: var(--primary);
}

.project_desc {
  word-spacing: 10px;
  color: var(--violet);
  margin-bottom: 10px;
  line-height: 30px;
  font-size: var(--font-small);
}

.project_desc button {
  background: transparent;
  color: var(--primary);
  outline: none;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: underline;
  background: var(-bcg);
  padding: 6px 10px;
  border-radius: 25px;
  border: 1px outset var(--hover);
}

.project_desc button {
  text-decoration: none;
  transition: var(--transition);
}

.project_desc button:hover {
  background: var(--primary);
  color: var(--white);
  transition: var(--transition);
}

.project_stack {
  margin-bottom: 1rem;
}

.project_stack span {
  display: inline-block;
  background: #151c58;
  color: var(--primary);
  margin-right: 0.4rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: var(--font-small);
  border-right: 2px solid var(--hover);
}

.project_icon {
  color: var(--primary);
  font-size: 1.25rem;
  margin-right: 0.5rem;
  transition: var(--transition);
}

.project_icon:hover {
  color: var(--hover);
}

.center_btn {
  display: block;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
  transition: var(--transition);
}

/* ===========THE MEDIA QUERY============ */
@media screen and (min-width: 576px) {
  .project_img {
    height: 19rem;
  }
}

@media screen and (min-width: 768px) {
  .project_img {
    height: 22rem;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .project {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }

  .project_img {
    grid-column: 1 / span 8;
    grid-row: 1 / 1;
    height: 30rem;
    border-radius: var(--radius);
    box-shadow: var(--dark-shadow);
  }

  .project_info {
    border-radius: var(--radius);
    box-shadow: var(--dark-shadow);
    z-index: 1;
    grid-column: 6 /15;
    grid-row: 1 / 1;
    border-right: 5px solid var(--primary);
  }

  .project:nth-of-type(even) .project_img {
    grid-column: 5 / -1;
    grid-row: 1 / 1;
  }

  .project:nth-of-type(even) .project_info {
    grid-column: 2 / span 7;
    grid-row: 1 / 1;
    text-align: left;
  }
}

@media (max-width: 425px) {
  .project_info {
    padding: 1rem;
  }
}

/* the section of the tab */
.project_tab{
  width: 95vw;
  margin: 0 auto;
  max-width: 1170px; 
  margin-bottom:70px;
  display:flex;
}

.project_tab button{
  background:transparent;
  padding:15px 45px;
  color:var(--primary);
  border:1px solid transparent;
  border-bottom:1px solid var(--primary);
  font-family:var(--font-oxygen);
  font-size:15px;
  cursor: pointer;
  transition:var(--transition);
}

.project_tab .active{
  /* background:var(--hover); */
  border:1px solid var(--hover);
  border-bottom:0;
  color:var(--hover)
}