.hero {
  /* padding-top: 100px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

/* THE HERO LEFT */
.hero_left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--hero);
  padding: 20px 0;
  /* border-top: 3px dashed var(--hover); */
}

.hero_left_div {
  line-height: 55px;
}

.hero_left_div h2 {
  font-size: var(--font-largest);
  font-weight: bold;
}

.hero_left_div h1 {
  font-size: 3.5rem;
  /* font-weight: bold; */
  font-family: "Alfa Slab One";
  text-shadow: 1px 1px var(--hover);
  letter-spacing: 8px;
}

.hero_left_div h1 small {
  color: var(--hover);
  font-size: 5.5rem;
}

.hero_left_div .type {
  font-size: var(--font-larger);
  color: var(--violet);
  margin-top: 10px;
  font-family: "Grand Hotel";
}

.social_link ul {
  position: fixed;
  left: 20px;
  bottom: 37px;
}

.social_icon {
  color: var(--primary);
  font-size: var(--font-mid);
}

.slide {
  animation: slideRight 6.5s ease-in-out 0.3s forwards;
}
.touch {
  animation: slideRight 6.5s ease-in-out 0.3s forwards;
}
.slide1 {
  animation: slideDown 6.5s ease-in-out 0.3s forwards;
}
.type {
  animation: slideUp 6.5s ease-in-out 0.3s forwards;
}

.slide:nth-of-type(1) {
  animation-delay: 1s;
}
slide1:nth-of-type(2) {
  animation-delay: 1.5s;
}
.type {
  animation-delay: 2s;
}
.touch:nth-of-type(4) {
  animation-delay: 1s;
}

@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ========================================== */
/* THE HERO RIGHT */
.hero_right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--hero);
  height: 100vh;
  border-bottom: 3px solid var(--hover);
  overflow: hidden;
}

.hero_right_image {
  height: 500px;
  width: 500px;
  margin-top: 60px;
  border-radius: 50%;
  position: relative;
  /* border: 3px solid var(--primary); */
}

.hero_right_image {
  animation: hero-image-spin infinite 150s linear;
}

@keyframes hero-image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .hero_right_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* THE SECTION OF THE EMAIL */

.email {
  position: fixed;
  right: -40px;
  bottom: 130px;
  letter-spacing: 5px;
  /* background: var(--primary); */
  padding: 10px 20px;
  font-size: var(--font-smalling);
  -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
  transform: rotate(90deg) translate(-3rem, -5rem);
}

/* .email::before {
  content: "";
  position: absolute;
  top: -15px;
  border: 35px solid transparent;
  right: -60px;
  border-left-color: var(--primary);
} */
