/* THE SECTION OF THE IMAGES DISPLAY */
.atom_images {
  position: absolute;
  height: 420px;
  width: 420px;
  animation: hero-image-spin infinite 150s linear;
}

@keyframes hero-image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.atom {
  opacity: 0;
  border-radius: 50%;
  animation: slideUp 3s ease-in-out 0.6s forwards;
}

.atom:nth-of-type(1) {
  position: absolute;
  top: 30px;
  right: 20px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  animation-delay: 0.5s;
}
.atom:nth-of-type(2) {
  position: absolute;
  top: 130px;
  right: -30px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  animation-delay: 1.5s;
}
.atom:nth-of-type(3) {
  position: absolute;
  top: 240px;
  right: -35px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  animation-delay: 2.5s;
}
.atom:nth-of-type(4) {
  position: absolute;
  top: 340px;
  right: 35px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  animation-delay: 3.5s;
}
.atom:nth-of-type(5) {
  position: absolute;
  top: 390px;
  right: 130px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  animation-delay: 4.5s;
}
.atom:nth-of-type(6) {
  position: absolute;
  top: 380px;
  right: 230px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  animation-delay: 5.5s;
}
.atom:nth-of-type(7) {
  position: absolute;
  top: 335px;
  right: 330px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  animation-delay: 6.5s;
}
.atom:nth-of-type(8) {
  position: absolute;
  top: 430px;
  right: 380px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  animation-delay: 7.5s;
  display: none;
}
.atom:nth-of-type(9) {
  position: absolute;
  top: 350px;
  left: 0px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  animation-delay: 8.5s;
  display: none;
}
.atom:nth-of-type(10) {
  position: absolute;
  top: 235px;
  left: -25px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  animation-delay: 9.5s;
}
.atom:nth-of-type(11) {
  position: absolute;
  top: 120px;
  left: -32px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  animation-delay: 10.5s;
}
.atom:nth-of-type(12) {
  position: absolute;
  top: 30px;
  left: 25px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  animation-delay: 11.5s;
}
.atom:nth-of-type(13) {
  position: absolute;
  top: -30px;
  left: 125px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  animation-delay: 12.5s;
}
.atom:nth-of-type(14) {
  position: absolute;
  top: -35px;
  left: 190px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  animation-delay: 13.5s;
  display: none;
}
.atom:nth-of-type(15) {
  position: absolute;
  top: -30px;
  right: 120px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  animation-delay: 14.5s;
}

@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* THE RESPONSIVENESS */
@media (min-width: 1300px) {
  /* THE SECTION OF THE IMAGES DISPLAY */

  .atom:nth-of-type(1) {
    top: -10px;
    right: 10px;
  }

  .atom:nth-of-type(2) {
    top: 70px;
    right: -60px;
  }
  .atom:nth-of-type(3) {
    top: 170px;
    right: -85px;
  }
  .atom:nth-of-type(4) {
    top: 280px;
    right: -60px;
  }
  .atom:nth-of-type(5) {
    top: 375px;
    right: 10px;
  }
  .atom:nth-of-type(6) {
    top: 425px;
    right: 110px;
  }
  .atom:nth-of-type(7) {
    top: 425px;
    right: 220px;
  }
  .atom:nth-of-type(8) {
    top: 390px;
    right: 320px;
    display: block;
  }
  .atom:nth-of-type(9) {
    top: 300px;
    left: -45px;
    display: block;
  }
  .atom:nth-of-type(10) {
    top: 200px;
    left: -70px;
  }
  .atom:nth-of-type(11) {
    top: 100px;
    left: -70px;
  }
  .atom:nth-of-type(12) {
    top: 15px;
    left: -15px;
  }
  .atom:nth-of-type(13) {
    top: -50px;
    left: 70px;
  }
  .atom:nth-of-type(14) {
    top: -75px;
    left: 170px;
    display: block;
  }
  .atom:nth-of-type(15) {
    top: -60px;
    right: 90px;
  }
}
