.about_page {
  padding: 7rem 0 5rem 0;
}

.about_center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1000px;
}

.about_box {
  margin-top: 50px;
}

.about_img {
  margin-bottom: 2rem;
  height: 25rem;
}

.about_text {
  margin-bottom: 2rem;
  text-align: left;
}

.about_text p {
  line-height: 2;
  color: #888;
}

.about_stack {
  display: flex;
  flex-wrap: wrap;
}

.stacks {
  background: var(--bcg);
  margin-right: 5px;
  padding: 8px 15px;
  margin-top: 15px;
  font-size: var(--font-smalling);
  border-radius: 25px;
  border: 1px inset var(--hover);
  transition: var(--transition);
  cursor: pointer;
}

.stacks:hover {
  background: var(--violet);
  color: var(--white);
  transition: var(--transition);
}

@media screen and (min-width: 992px) {
  .about_center {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    column-gap: 4rem;
  }

  .about_img {
    grid-column: 1 / span 5;
    margin-bottom: 0;
  }

  .about_text {
    grid-column: 7 / -1;
  }
}
