.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 6rem;
  z-index: 9999;
  transition: var(--transition);
}

.active {
  background: var(--heros);
  color: var(--primary) !important;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 5rem;
  z-index: 9999;
  transition: var(--transition);
}

.logo_btn {
  color: var(--hover);
  font-size: var(--font-larger);
}

/* THE NAV CENTER */
.nav_center {
  width: 97%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

/* THE SECTION OF THE INDICATOR */
.indicator {
  /* background: var(--tetiary); */
  height: 3px;
  position: sticky;
  top: 10%;
  left: 0;
  z-index: 99999;
  width: 100%;
}

.progress {
  height: 3px;
  background: var(--violet);
  transition: var(--transition);
}

.heading_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 320px) {
  .indicator {
    top: 18%;
  }
}
